Temp/*
Library/*
Build/*
/Assets/PlayMaker
/Assets/Gizmos
/Assets/iTween
/Assets/Photon Unity Networking
obj
*.suo

/*.pidb

/*.sln

/*.csproj

/Assets/Gizmos.meta
/Assets/Photon Unity Networking.meta
/Assets/PlayMaker.meta
/Assets/iTween.meta
